.idea/.idea.v1.2.2
.svn
Library
AndroidStudio
obj
Assembly-CSharp-Editor-firstpass.csproj
*.csproj
*.apk
BuildABs
Temp
.DS_Store
BattleRecord
Assets/.vscode
*.preset
*.sln
.idea
Assets/FR2_Cache.asset
Logs
Assets/ManagedResources/~Lua/.vscode
output
*.preset.*
Assets/StreamingAssets/Android
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_8_0.so
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_8_0.bundle
.vscode
依赖包/firebase_unity_sdk_12.8.0.zip
UserSettings
UserSettings
