<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AIHelpConfig</key>
	<dict>
		<key>APPID</key>
		<string>qwer_platform_a697cb21c4add78f21b0bee838afe9f7</string>
		<key>DOMAIN_NAME</key>
		<string>qwer.aihelp.net</string>
		<key>API_KEY</key>
		<string>QWER_app_0fc7b36510424fc8afed30cfd147c52c</string>
	</dict>
	<key>BDBindConfig</key>
	<dict>
		<key>isSupportBindPhoneNumber</key>
		<false/>
		<key>isSupportBindThirdPart</key>
		<true/>
	</dict>
	<key>BDLoginConfig</key>
	<dict>
		<key>isSupportGuestLogin</key>
		<true/>
		<key>isSupportPhoneNumberLogin</key>
		<false/>
		<key>isSupportThirdPartLogin</key>
		<true/>
	</dict>
	<key>BDSecurityCheckVersion</key>
	<false/>
</dict>
</plist>
