<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>518916971488-6dpfgd63fl8ir39fq4s53jqrt6ubmqmg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518916971488-6dpfgd63fl8ir39fq4s53jqrt6ubmqmg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>518916971488-hccadqk64k2gso6b0ovvke6gabjkupkd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAGz4x6iP8bBU2jJADq-BMLLezjqCulSG8</string>
	<key>GCM_SENDER_ID</key>
	<string>518916971488</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ilod.anecdotes.ios</string>
	<key>PROJECT_ID</key>
	<string>another-city</string>
	<key>STORAGE_BUCKET</key>
	<string>another-city.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518916971488:ios:c5541ea8290ac48f96e985</string>
</dict>
</plist>